#memory_board {
  background: lightblue;
  border: #999 1px solid;
  width: 90%;
  height: 700px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#memory_board > div{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATUlEQVQYlZ3QQQoAIAhE0X/BTtntvEDLaSOlpJuCIYKHpvB5BqCQ0SKteVLhi4ybAh8EpDtgh9bngYAkB8rV8x8tTRzfxUBvy35F1R43zcB6rPlo4VYAAAAASUVORK5CYII=) repeat;
  border: #000 1px solid;
  width: 15%;
  height: 15%;
  margin: 15px;
  padding:20px;
  font-size:64px;
  cursor: pointer;
  text-align: center;
/*  flex: 1 0 auto;*/

}