* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #ddd;
}

#memory_board {

  width: 90%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#memory_board > div.unflipped {
  background-image: url('images/nba-logo.jpg');
  background-size: contain;
  border: #000 1px solid;
  width: 25%;
  height: 70px;
  margin: 5px;
  padding: 10px;
  font-size:64px;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 3px #ddd;
  transition: box-shadow ease 0.2s;
  border-radius: 5px;
}

#memory_board > div.flipped {
  background-image: url('images/nba-logo.jpg');
  background-size: contain;
  border: #000 1px solid;
  width: 25%;
  height: 70px;
  margin: 5px;
  padding: 10px;
  font-size:64px;
  cursor: pointer;
  text-align: center;
  box-shadow: 3px 3px 3px #ddd;
  transition: box-shadow ease 0.2s;
  border-radius: 5px;
}

#memory_board > div.unflipped:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

